<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <h1 class="title has-text-centered mt-6 pt-6">MY SUPER TO DO LIST</h1>

    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="mx-6 px-6 box">
          <form class="form" action="http://localhost:3000/new_task" method="post">
            <div class="field">
              <label class="label">TO DO:</label>
              <div class="control">
                <input class="input" type="text" id="task" name="task" placeholder="Tâche à faire" />
              </div>
            </div>
            <input class="button is-info" type="submit" value="Enregistrer" />
          </form>
        </div>
      </div>
    </div>

    <% if (to_do_list.length > 0) { %>
      <div class="columns mx-6 px-6">
        <div class="column is-half is-offset-one-quarter">
          <% for (let i = 0; i < to_do_list.length; i++) { %>
              <div class="my-3 box is-flex is-flex-direction-row is-justify-content-space-between">
                <form action="/update_task/<%=i%>" method="post" class="is-flex is-flex-direction-row">
                  <input class="input has-text-weight-bold" name="task" type="text" value="<%= to_do_list[i] %>" />
                  <input type="submit" class="mx-1 button is-warning has-text-weight-bold" value="Modifier">
                </form>
                <form action="/delete_task/<%=i%>" method="post">
                  <input type="submit" class="button is-danger has-text-weight-bold" value="Supprimer">
                </form>
              </div>
          <% } %>
        </div>
      </div>
    <% } %>
  </body>
</html>